/* importation de normalize */
@import url("normalize.css");

/* couleurs de la maquette
clair de barre de recherche : #e7e7e7ff

bleu de ingrédients : #3282f7ff
vert de appareils : #68d9a4ff
rouge de ustensiles : #ed6454ff

beige de div image de card : #c7bebeff
clair de text de card : #e7e7e7ff

*/

header {
    text-align: center;
    margin-top: 10px;
}

header #logo {
    width: 30%;
}

#recipesSection {
    margin-top: 2rem;
}

.recipesSection__card {
    margin-bottom: 2rem;
}

.recipesSection__card__imageFictive {
    height: 150px;
    background-color: #c7bebeff;
}

.recipesSection__card__texteFictif {
    height: 150px;
}

.recipesSection__card__notice p {
    overflow: hidden;
}

#searchSection {
    margin-top: 10px;
}

#searchSection__searchBar {
    position: relative;
    height: 4rem;
}

#searchSection__searchBar input {
    border-radius: 5px;
    padding-left: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #e7e7e7ff;
}

#searchSection__searchBar input:focus, #searchSection__searchBar input:active {
    border: none;
}

#searchSection__searchBar button {
    background-color: #e7e7e7ff;
    border-radius: 5px;
    border: none;
    height: 100%;
    width: 4rem;
    position: absolute;
    top: 0;
    right: 0;   
}

#searchSection__searchBar button object {
    width: 65%;
    height: 65%;
}

#searchSection__searchBar #mainSuggestions .oneMainSuggestion {
    margin-top: -5px;
    padding-bottom: 5px;
    position: relative;
    z-index: 1;
    padding-left: 1.5rem;
    width: 100%;
    background-color: #e7e7e7ff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#searchSection__searchBar #mainSuggestions .oneMainSuggestion:hover {
    cursor: pointer;
    font-weight: bold;
}

#searchSection__selectedFilters {
    margin-left: 0;
}

.oneSelectedFilter {
    background-color: #3282f7ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    height: 2rem;
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
    border-radius: 5px;
    
}

.oneSelectedFilter p {
    margin: 0;
}

.oneSelectedFilter object {
    height: 50%;

}

#searchSection__filters {
    margin: 0;
    margin-top: 10px;
}

#searchSection__filters .filter {
    display: flex;
    margin-right: 2%;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

#searchSection__filters .filter object {
    height: 50%;
}

#searchSection__filters > div:nth-child(1) {
    background-color: #3282f7ff;
}

#searchSection__filters > div:nth-child(2) {
    background-color: #68d9a4ff;
}

#searchSection__filters > div:nth-child(3) {
    background-color: #ed6454ff;
}


#searchSection__filters .filter p {
    margin: auto;
}

.recipesSection__card__texteFictif {
    padding: 1rem;
    line-height: 10pt;
    background-color: #e7e7e7ff;
    overflow: hidden;
}
.recipesSection__card__texteFictif .nomIngredient{
    font-weight: bold;
}

.recipesSection__card__texteFictif__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.recipesSection__card__texteFictif__header h1 {
    font-size: 1rem;
}

.recipesSection__card__texteFictif__header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recipesSection__card__texteFictif__header object {
    padding-right: 0.5rem;
    height: 1.5rem;
}

.recipesSection__card__texteFictif__header p {
    margin: 0;
}

.recipesSection__card__texteFictif__body {
    display: flex;
}

.recipesSection__card__texteFictif__body ul {
    list-style: none;
    padding-inline: 0;
    min-width: fit-content;
    max-width: 50%;
    font-size: 0.8rem;

}

.recipesSection__card__texteFictif__body li {
    display: flex;
    list-style: none;
}


.recipesSection__card__texteFictif__body p {
    margin: 0;
}

.recipesSection__card__notice {
    line-height: 10pt;
    padding-left: 1rem;
    font-size: 0.6rem;
    overflow: hidden;
    max-height: max-content;
    text-overflow: ellipsis ;
    word-break: keep-all;
}

